.DS_Store
*.iml
*.xml
*.pem
memo.txt
nohup.out
getQuestion_ver3.py
next_button/
extra/

# data/
embeddings.npy
final.txt
interview_w2v.csv
자문/data/training_ver2/
자문/data/training_ver3/
자문/data/training_ver4.2/
