@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	text-align: center;
	align-self: center;
}

body {
	background-color: #fafafa;
}

textarea {
	width: 70%;
	height: 700px;
	text-align: left;
	margin: 50px;
	resize: none;
	border-radius: 5px;
	border: 1px solid #fe838b;
}

textarea:focus {
	outline: none;
	box-shadow: 0 0 0 2px #905bb5;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.txt {
    font-family: 'Pretendard-Light';
}

button.switch {
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    width: 150px;
    height: 60px;

    line-height: 2.5;
    white-space: nowrap;
    font-family: 'Cafe24Ssurround';
    font-weight: 900;
    font-size: 1.5em;
    color: #fff;
    border: none;
    padding: 0 0;
    letter-spacing: 2px;
    background: none;
    background-color: #feb737;
    border-radius: 0.75em;
    transition: 0.3s ease;
    box-shadow: 0 6px #f19d01;
    text-shadow: 0 3px 0 #feb737, 0 4px 0 #fe838b;
    text-decoration: double !important;
    text-decoration-style: wavy;
    text-decoration-color: #fff;
}

button.switch:hover {
	box-shadow: 0 6px #f19d01;
	transform: translateY(-3px);
}

button.switch:active {
	background-color: #feb52c;
	box-shadow: 0 5px #d68b01;
	transform: translateY(4px);
}
