/* -------------------------------------------------------------------------- 텍스트 ------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;

	font-family: 'SF_HambakSnow';
	font-size: 16px;
	color: #fe838b;
	white-space: nowrap;
}

.title h1, .title h5 {
	margin: 0;
}

.title h1 {
	font-weight: 700;
	font-size: 12em;
	padding: 0;
	text-align: center;
	margin: 0.5em 0;
	line-height: 27px;
	text-shadow:4px 5px #905bb5, 6px 7px #feb737;
}

.title h5 {
	background-color: #a7c4fe;
	color: #905bb5;
	display: inline-block;
	font-family: 'NEXON Lv1 Gothic OTF';
	font-size: 1em;
	font-weight: 700;
	line-height: calc(100% + 10px);
	padding: 2px 55px;
	position: relative;
	white-space: nowrap;
}

.title h5:before, .title h5:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 2px;
	border-width: 15px 5px;
	border-style: solid;
	opacity: 0.8;
}

.title h5:before {
	right: 100%;
	border-color: #a7c4fe #a7c4fe #a7c4fe transparent;
}

.title h5:after {
	left: 100%;
	border-color: #a7c4fe transparent #a7c4fe #a7c4fe;
}

.title h6 {
	font-family: 'Gowun Dodum', sans-serif;
	color: #a7c4fe;
	font-size: 1em;
	font-weight: 500;
	margin: 0;
	display: inline-block;
	position: relative;
}

.title h6:before, .title h6:after {
	position: absolute;
	height: 2px;
	content: "";
	width: 70%;
	top: 50%;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.title h6:before {
	left: -80%;
}

.title h6:after {
	right: -80%;
}

.title i {
	font-size: 22px;
	line-height: 36px;
}

.padding {
	padding: 50px;
}

.maincolor {
	font-family: 'NEXON Lv1 Gothic OTF';
	color: #905bb5;
}

.small {
	font-size: 0.4em;
}

.ask_p {
	position: relative;
	white-space: nowrap;
	bottom: 0;

	color: #905bb5;
	font-family: 'Pretendard-Light';
	font-size: 20px;
}

.footer {
	background: #000;

	color: #fafafa;
	font-size: 15px;
	font-weight: 400;
	padding: 30px;
	margin: 30px;
}

/*
header {
	position: fixed;
	display: block;
	top: 0px;
	left: 0px;
	z-index: 3;
	width: 100%;
	list-style: none;
}*/

/* ----------------------------------------------------------------------------------- 버튼 ---------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button.switch {
	position: fixed;
	top: 30px;
	left: 50%;
  transform: translate(-50%, 0);
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	width: 150px;
	height: 60px;

	line-height: 2.5;
	white-space: nowrap;
	font-family: 'Cafe24Ssurround';
	font-weight: 900;
	font-size: 1.5em;
	color: #fff;
	border: none;
	padding: 0 0;
	letter-spacing: 2px;
	background: none;
	background-color: #feb737;
	border-radius: 0.75em;
	transition: 0.3s ease;
	box-shadow: 0 6px #f19d01;
	text-shadow: 0 3px 0 #feb737, 0 4px 0 #fe838b;
	text-decoration: double !important;
	text-decoration-style: wavy;
	text-decoration-color: #fff;
}

button.switch:hover {
	box-shadow: 0 6px #f19d01;
	transform: translateY(-3px) translateX(-50%);
}

button.switch:active {
	background-color: #feb52c;
	box-shadow: 0 5px #d68b01;
	transform: translateY(4px) translateX(-50%);
}

.ask {
	margin: 30px;
	display: block;
	width: 220px;
	height: 70px;
	z-index: 1;

	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	line-height: 70px;
	font-size: 0.8em;
}

.ask:after {
	border-radius: 5px;
	content: '';
  background: linear-gradient(120deg, #905bb5, #fe838b, #feb737);
  background-size: 300% 300%;
  -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
  -moz-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
  -webkit-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
  animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
}

.ask > span {
	font-family: 'Gowun Dodum', sans-serif;
	font-weight: 900;
	display: block;
  background: linear-gradient(120deg, #905bb5, #fe838b, #feb737);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: gradient 3s ease-in-out infinite;
  -webkit-animation: gradient 3s ease-in-out infinite;
  animation: gradient 3s ease-in-out infinite;
}

.ask, .ask:after {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@-moz-keyframes gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}

@-moz-keyframes border {
  0% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
  }
}

@-webkit-keyframes border {
  0% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
  }
}

@keyframes border {
  0% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
  }
}

/* ------------------------------------------------------------------------------ 문 ----------------------------------------------------------------------------------------------*/

#door {
	background: #905bb5;
}

#porthole, #jamb {
	background: #feb737;
}

#knob, .side {
	background: #fe838b;
}

#jamb {
  position: absolute;
  left: 50%;
  margin-left: -2.5vw;
  bottom: 10vh;
  width: 5vw;
  height: 10vw;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

#jamb:hover,
#jamb:hover #porthole {
  transition: all 0.2s ease-in;
  background-color: #a7c4fe;
}

#jamb .side {
  position: absolute;
  width: 0;
  height: 0;
}

#jamb #side1 {
  right: 0;
  bottom: 0;
  animation: drawSide1 0.5s ease-in-out forwards;
  z-index: 10;
}

#jamb #side2 {
  right: 0;
  top: 0;
  animation: drawSide2 0.5s ease-in-out 0.5s forwards;
  z-index: 10;
}

#jamb #side3 {
  left: 0;
  top: 0;
  animation: drawSide3 0.5s ease-in-out 1s forwards;
  z-index: 10;
}

#jamb #side4 {
  left: 0;
  bottom: 0;
  animation: drawSide4 0.5s ease-in-out 1.5s forwards;
  z-index: 10;
}

#jamb #door {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 100% 50%;
  cursor: pointer;
}

#jamb #door #knob {
  position: absolute;
  left: 0.5vw;
  top: 50%;
  width: 1vw;
  height: 0.3vw;
  border-radius: 20px;
  opacity: 0;
  animation: showKnob 0.5s ease-in-out 2s forwards;
}

#jamb #door #porthole {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -1.25vw;
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  border: 1px solid #905bb5;
  box-shadow: inset 0 0 5vw 0 rgba(195, 220, 233, 0.25);
  overflow: hidden;
  transform: rotateY(-90deg);
  opacity: 0;
  animation: reveal 0.5s ease-in-out 2s forwards;
  transition: all 0.2s ease-in;
}

.crack {
  animation: crack 0.5s cubic-bezier(0.46, 0.59, 0.53, 1) 2.5s forwards;
}

.open {
  animation: crackopen 0.25s cubic-bezier(0.46, 0.59, 0.53, 1) forwards;
}

.spread {
  animation: spread 0.25s ease-in-out 0.25s forwards;
}

@keyframes dark-glow {
  to {
    box-shadow: inset 0 0 0.5vw 0 rgba(0, 0, 0, 0.5);
  }
}

@keyframes crack {
  to {
    background-color: #905bb5;
    box-shadow: 0 0 0 0.2vh #905bb5;
    transform: perspective(15vw) rotateY(-13deg);
  }
}

@keyframes crackopen {
  from {
    background-color: #905bb5;
    transform: perspective(15vw) rotateY(-13deg);
  }
  to {
    background-color: #feb737;
    transform: perspective(20vw) rotateY(-90deg);
  }
}

@keyframes spread {
  from {
    bottom: 10vh;
    left: 50%;
    height: 20vw;
    wdth: 10vw;
  }
  50% {
    bottom: 10vh;
    left: 50%;
    height: 0.2vw;
    width: 10vw;
  }
  100% {
    bottom: 10vh;
    left: 50%;
    height: 0.2vw;
    left: calc(50% + 10vw);
    width: 0;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes drawSide1 {
  from {
    width: 1px;
    height: 0;
  }
  to {
    width: 1px;
    height: 100%;
  }
}

@keyframes drawSide2 {
  from {
    height: 1px;
    width: 0;
  }
  to {
    height: 1px;
    width: 100%;
  }
}

@keyframes drawSide3 {
  from {
    height: 0;
    width: 1px;
  }
  to {
    height: 100%;
    width: 1px;
    bottom: 0;
  }
}

@keyframes drawSide4 {
  from {
    height: 1px;
    width: 0;
  }
  to {
    height: 1px;
    width: 100%;
  }
}

@keyframes showKnob {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2, 1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.text {
  position: absolute;
  bottom: 17px;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Gowun Dodum';
  color: #fafafa;
  font-size: 0.3em;
}