<!DOCTYPE html>
<html lang="kr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>자문</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='/img/logo32x32_line.png') }}">

	<!-- CSS 연결 -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/jquery.fullPage.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}">

	<!-- JS 연결 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='/js/jquery.fullPage.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='/js/main.js') }}"></script>
</head>
<body>
	
	<button class="switch" onClick="location.href='input'"><span style="text-decoration: double;">자문하기</span></button>
	
	<!-- 메인 (fullpage) -->
	<main id="fullpage">
		<!-- 홈페이지 -->
		<section class="section">
			<div class="title">
				<h6>취업의 문을 열어줄</h6>
				<h1>자문</h1><br>
				<h5>		자소서에서 나온 면접질문		</h5><br><i class="icon-star"></i>
			</div>
			<div id="jamb" onclick="location.href='input'">
				<div class="side" id="side1"></div>
				<div class="side" id="side2"></div>
				<div class="side" id="side3"></div>
				<div class="side" id="side4"></div>
				<div class="crack" id="door">
					<div id="knob"></div>
					<div id="porthole"></div>
				</div>
			</div>
			<div class="text">>> 문을 열어보세요</div>				
		</section>

		<!-- 소개 페이지 -->
		<section class="section">
			<div class="slide">
				<h3 class="maincolor">자문은 입력 자기소개서와 기존 면접 질문 간의 유사도를 판별합니다.</h3>
				<h3 class="maincolor">이를 통해 추출된 면접 질문은 모의 면접의 형태로 제시됩니다.</h3>
				<h3 class="maincolor">모의 면접이 끝난 후, 전체 질문과 답변을 확인할 수 있습니다.</h3>
			</div>
			<div class="slide">
				<h3 class="maincolor">자문은 이화여자대학교 컴퓨터공학 21-2 캡스톤디자인프로젝트 팀 초코칩쿠키의 프로젝트 결과입니다.</h3>
				<h3 class="maincolor">MaLSTM 모델을 활용하여 유사도 판단 모델을 구축하였습니다.</h3>
				<h3 class="maincolor">그 외 자세한 설명은 github에서 확인하실 수 있습니다.</h3>
			</div>
		</section>

		<!-- ask & footer -->
		<section class="section fp-auto-height">
			<p class="padding"></p>
			<p class="ask_p">궁금하신 점이나 요청사항이 있다면 편하게 연락주세요</p>
			<a href="" target="_blank" class="ask"><span>문의하기</span></a>
			<p class="padding"></p>
			<p class="padding"></p>
			<p class="footer">ⓒ 2021 초코칩쿠키</p>
		</section>
</body>
</html>
